<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>-首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/css/index1.css">
</head>
<body>
<style>
    .goog-te-banner-frame {
        display: none;
    }
</style>
<div class="house-header">
    <div class="layui-container">
        <div class="house-nav">
      <span class="layui-breadcrumb" lay-separator="|">
          <!--未登录 -->
          <div th:if="${isGogin} eq'no'"><a href="login.html">登录</a></div>
          <!--已登录 -->
           <div th:if="${isGogin} eq'yes'"><a th:text="${'欢迎 :'+user.userName}"></a><a href="/logout.do">退出</a><a
                   href="/front/user.do">个人中心</a></div>
          <!--<a href="">在线客服</a>-->
      </span>
            <span class="layui-breadcrumb house-breadcrumb-icon" lay-separator=" ">
        <a id="search"><i class="layui-icon layui-icon-house-find"></i></a>
        <a href="login.html"><i class="layui-icon layui-icon-username"></i></a>
        <a href="usershop.html"><i class="layui-icon layui-icon-house-shop"></i></a>
      </span>
        </div>
        <div class="house-banner layui-form">
            <a class="banner" href="index.html">

            </a>
            <div class="layui-input-inline">
                <input type="text" placeholder="搜索好物" id="searchParam" class="layui-input"><i onclick="searchs()"
                                                                                              class="layui-icon layui-icon-house-find"></i>
            </div>
            <a class="shop" href="/front/usershop.do"><i class="layui-icon layui-icon-house-shop"></i><span
                    class="layui-badge">1</span></a>
        </div>
        <div id="google_translate_element"
             style="position:absolute;bottom:10px;right:10px;z-index:2000;opacity:0.7"></div>
        <ul class="layui-nav close">
            <li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
            <li class="layui-nav-item" th:each="ptCategory:${ptCategoryList}"><a
                    th:href="${'/front/list.do?ptCategoryId='+ptCategory.id}"
                    th:text="${ptCategory.title}">居家用品</a>
            </li>

        </ul>
        <button id="switch">
            <span></span><span class="second"></span><span class="third"></span>
        </button>
    </div>
</div>

<div class="layui-fulid">
    <div class="layui-carousel house-carousel" id="house-carousel">
        <div carousel-item>
            <div style="background-color: #31c1f6"><img src="/resource/image/banner.jpg"></div>
            <div style="background-color: #31c1f6"><img src="/resource/image/banner.jpg"></div>
        </div>
    </div>
</div>

<div class="layui-container">
    <!--<div class="hot-cate">
        <p class="house-title">热门分类</p>
        <div class="layui-row">
            <div class="layui-col-xs4 cateFir cate">
                <a href="list.html">
                    <img src="/resource/image/home_img1.png">
                    <div>
                        <p>家居用品</p>
                        <span>18元起</span>
                    </div>
                </a>
            </div>
            <div class="layui-col-xs4 cateSec cate">
                <a href="list.html">
                    <img src="/resource/image/home_img2.png">
                    <div>
                        <p>小家电</p>
                        <span>59元起</span>
                    </div>
                </a>
            </div>
            <div class="layui-col-xs4 cateThir cate">
                <a href="list.html">
                    <img src="/resource/image/home_img3.png">
                    <div>
                        <p>洗护用品</p>
                        <span>18元起</span>
                    </div>
                </a>
            </div>
        </div>
    </div>-->
    <div class="hot-sell">
        <p class="house-title">热销推荐<a href="/front/list.do">更多优品 &gt;</a></p>
        <div class="layui-row layui-col-space20">
            <a th:each="time:${salesList}" th:href="${'/front/detail.do?productId='+time.id}"
               class="layui-col-xs3 text">
                <div><img th:src="${time.imgUrl}"></div>
                <p th:text="${time.name}">一盏好看的台灯</p>
                <p class="price" th:text="${'￥'+time.proPrice}">￥200</p>
            </a>
        </div>
    </div>
    <div class="hot-sell">
        <p class="house-title">新品推荐<a href="/front/list.do">更多优品 &gt;</a></p>
        <div class="layui-row layui-col-space20">
            <a th:each="time:${timeList}" th:href="${'/front/detail.do?productId='+time.id}" class="layui-col-xs3 text">
                <div><img th:src="${time.imgUrl}"></div>
                <p th:text="${time.name}">一盏好看的台灯</p>
                <p class="price" th:text="${'￥'+time.proPrice}">￥200</p>
            </a>
        </div>
    </div>
</div>

<div class="layui-fulid" id="goodsAll"></div>

<!--<div class="layui-container">
    <div class="hot-sell">
        <p class="house-title">猜您喜欢<a href="">更多新品 &gt;</a></p>
        <div class="layui-row layui-col-space20">
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img12.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img13.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img14.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img15.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img12.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img13.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img14.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img15.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img12.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img13.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img14.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img15.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img12.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img13.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img14.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
            <a href="detail.html" class="layui-col-xs3 text">
                <div><img src="/resource/image/home_img15.jpg"></div>
                <p>森系小清新四件套</p>
                <p class="price">￥200</p>
            </a>
        </div>
    </div>
</div>-->

<!--<div class="layui-fulid" id="champ">
    <div class="layui-row">
        <a href="list.html" class="layui-col-xs3">
            <img src="/resource/image/home_img16.jpg">
        </a>
        <a href="list.html" class="layui-col-xs6">
            <img src="/resource/image/home_img17.jpg">
        </a>
        <a href="list.html" class="layui-col-xs3">
            <img src="/resource/image/home_img20.jpg">
        </a>
        <a href="list.html" class="layui-col-xs3">
            <img src="/resource/image/home_img18.jpg">
        </a>
        <a href="list.html" class="layui-col-xs3">
            <img src="/resource/image/home_img19.jpg">
        </a>
        <a href="list.html" class="layui-col-xs3">
            <img src="/resource/image/home_img21.jpg">
        </a>
    </div>
</div>-->

<div class="house-footer">
    <div class="layui-container">
        <div class="intro">
            <span class="first"><i class="layui-icon layui-icon-house-shield"></i>7天无理由退换货</span>
            <span class="second"><i class="layui-icon layui-icon-house-car"></i>满99元全场包邮</span>
            <span class="third"><i class="layui-icon layui-icon-house-diamond"></i>100%品质保证</span>
            <span class="last"><i class="layui-icon layui-icon-house-tel"></i>客服400-2888-966</span>
        </div>
        <div class="about">
      <span class="layui-breadcrumb" lay-separator="|">
        <a href="about.html">关于我们</a>
        <a href="about.html">帮助中心</a>
        <a href="about.html">售后服务</a>
        <a href="about.html">配送服务</a>
        <a href="about.html">关于货源</a>
      </span>
            <p>版权所有 &copy; 2012-2020</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script type="text/javascript" src=" /resource/js/user.js"></script>
<script type="text/javascript" src=" /resource/js/internationalization.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    layui.config({
        base: '/resource/js/'
    }).use('house');
</script>
<script type="text/javascript" th:inline="javascript">
    var searchs;
    layui.use(['table', 'layer', 'laydate', 'laypage', 'form'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            laypage = layui.laypage,
            form = layui.form;
        searchs = function () {
            var paramSearch = $("#searchParam").val();
            window.location.href = '/front/search.do?paramSearch=' + paramSearch;
        }

    });
</script>
</body>
</html>