<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resource/css/common.css" media="all"/>
</head>
<style>
    .layui-form-item {
        width: 350px;
    }
</style>
<body>
<blockquote class="layui-elem-quote quoteBox layui-form">
    <div class="layui-form">
        <div class="layui-row ">
            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品分类:</label>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select name="categoryId" id="categoryId" lay-filter="source">
                                <option value="">请选择</option>
                                <option th:each="categorie:${categorieList}" th:text="${categorie.title}"
                                        th:value="${categorie.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品名称:</label>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="name" id="name" class="layui-input" placeholder=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-inline tableId">
                    <button class="layui-btn" data-type="reload" id="search">搜索</button>
                    <button class="layui-btn revocation" data-type="reload" id="revocation">撤销</button>
                </div>
            </div>
        </div>

    </div>
</blockquote>
<table id="productTables" lay-filter="productTables"></table>
<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script type="text/html" id="header">
    <div class="layui-btn-container" style="overflow: hidden">
        <div style="float: right">
            <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
        </div>
    </div>
</script>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script type="text/javascript" src=" /resource/js/user.js"></script>
<script type="text/javascript">
    layui.use(['table', 'layer', 'laydate', 'form'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            form = layui.form;
        table.render({
            elem: '#productTables'
            , cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , height: 'full-50'
            , url: '/product/product.do' //数据接口
            , method: 'get'
            , toolbar: '#header'
            , page: true //开启分页
            , id: 'tableId'
            , limits: [10, 15, 30]
            , limit: 15
            , cols: [
                [ //表头
                    {type: 'numbers', title: '序号'}
                    , {field: 'name', title: '商品名称'}
                    , {field: 'specification', title: '规格'}
                    , {field: 'parameter', title: '产品参数'}
                    , {field: 'price', title: '原价'}
                    , {field: 'proPrice', title: '折扣价'}
                    , {field: 'sales', title: '销量'}
                    , {field: 'imgUrlLayer', title: '商品图', event: 'imgUrl'}
                    , {field: 'dasImgLayer', title: '详情图', event: 'dasImg'}
                    , {field: 'createdTime', title: '发布时间'}
                    , {title: '操作', toolbar: '#operate', 'fixed': 'right'}
                ]
            ]
        });
        //搜索
        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //撤销
        $("#revocation").on('click', function () {
            $("#name").val("");
            $("#categoryId").val("");
            form.render();
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : ''
        });
        table.on('toolbar(productTables)', function (obj) {
            var datas = table.checkStatus("tableId").data;
            if (obj.event == "add") {
                //新增商品
                layer.open({
                    type: 2,
                    title: "新增商品",
                    shadeClose: false, //点击遮罩关闭层
                    area: ['1000px', '700px'],
                    content: "/product/addIndex.do"
                });
                return false;
            }
        });
        //监听工具条
        table.on('tool(productTables)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                //删除
                del(data.id);
            } else if (obj.event === "edit") {
                //修改父分类
                layer.open({
                    type: 2,
                    title: "修改商品",
                    shadeClose: false, //点击遮罩关闭层
                    area: ['1000px', '300px'],
                    content: "/product/editIndex.do?id=" + data.id
                });
            } else if (obj.event === "imgUrl") {
                layer.photos({
                    photos:
                        {
                            "title": "上传的图片", //相册标题
                            "id": 123, //相册id
                            "start": 0, //初始显示的图片序号，默认0
                            "data": [data.imgUrl]
                        },
                    anim: 5, //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                    closeBtn: 2
                });
            } else if (obj.event === "dasImg") {
                console.log(data.dasImg)
                layer.photos({
                    photos:
                        {
                            "title": "上传的图片", //相册标题
                            "id": 123, //相册id
                            "start": 0, //初始显示的图片序号，默认0
                            "data": data.dasImg
                        },
                    anim: 5,//0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                    closeBtn: 2
                });
            }
        });
        active = {
            reload: function () {
                var name = $("#name").val();
                var categoryId = $("#categoryId").val()
                //执行重载
                table.reload('tableId', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        name: name,
                        categoryId: categoryId
                    }
                });
            }
        };

        //删除用户函数
        function del(ids) {
            layer.confirm('是否删除?', function (index) {
                $.ajax({
                    url: "/product/product.do",
                    type: "post",
                    data: {_method: "DELETE", "ids": ids},
                    dataType: "json",
                    success: function (result) {
                        if (!result.status) {
                            layer.msg(result.msg, {time: 2000});
                            return false;
                        }
                        layer.msg("删除成功!", {time: 1000});
                        active.reload();
                    }
                });
                layer.close(index);
            })
        }

    });
</script>

</body>
</html>